
h1{
    color: crimson;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}
p{
    color: green;
    text-align: right;
    margin-top: -15px;
}
.header{
    background-color:burlywood;
   border: 2px solid goldenrod;
  box-shadow: 3px 3px 3px lightblue;
}