
table{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    
}
th,.black{
    background-color: rgb(14, 55, 177);
    color: white;
}
tr,th,td{
    padding: 5px;

}

